/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.background-image {
    background-image: url('./1.jpg'); /* Replace 'home-background.jpg' with your image path */
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/* styles.css */

/* Sections */
#home button {
    color: #fff;
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#home button:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
    transform: scale(1.1); /* Scale the button on hover */
}

#home h1,
#home h2,
#home p {
    color: #fff; /* Set the font color to white */
    font-weight: bold; /* Make the font bold */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Header */
header {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Sections */
.content-wrapper {
    margin-top: 80px; /* Adjust according to header height */
    overflow-y: auto; /* Enable vertical scrolling for sections */
}

.section {
    padding: 100px 0;
    text-align: center;
}

.section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    /* Media queries as needed */
}
